.Complete_Container{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
  height: 500px;
}

h1{
  text-align: center;
  margin-bottom: 400px;
}

button{
  padding: 9px 19px;
  border: 1px solid var(--lightgray);
  border-radius: 10px;
  background-color: var(--dark3);
  color: var(--white);
}