.Event_Detail_Title {
  font-size: 35px;
  text-align: center;
  margin: 30px 0;
}

.Event_Term {
  text-align: right;
  padding-right: 20px;
  font-size: 19px;
}

.Event_Title_Banner {
  text-align: center;
  margin: 50px 0;
}

.Event_Title_Banner img {
  width: 600px;
  height: 400px;
}

.Event_Detail {
  font-size: 21px;
  line-height: 1.7;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}
