.Home_Container {
  display: flex;
  flex-direction: column;
}

.Hero_Text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 2.2;
  transform: translate(-50%, -50%);
  font-size: 23px;
}

.Hero_Text_Gradient {
  background: linear-gradient(to right, #fcecdd, #ffc288, #fea82f, #ff6701);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Hero_Button {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 17px;
  border: none;
}

.Hero_Button span:hover {
  background: linear-gradient(to right, #fcecdd, #ffc288, #fea82f, #ff6701);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Events_Banner {
  height: 600px;
  padding: 50px 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: black;
}

.Events_Carousel {
  height: 100%;
  width: 1000px;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.Events_Carousel::-webkit-scrollbar {
  display: none;
}

.Carousel_Arrow {
  color: rgb(250, 249, 233);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 71px;
  overflow: hidden;
  z-index: 100;
}

.Event_Caption_Text {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 15px;
  width: 100%;
  line-height: 1.75;
  text-align: center;
}

.Event_Number_Text {
  color: white;
  font-size: 19px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.Event_Title {
  font-size: 31px;
  background: linear-gradient(to right, #faf8f1, #faeab1, #e5ba73, #c58940);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Event_Title:hover {
  background: linear-gradient(to right, #ff6701, #dd8d1d, #ffc288, #fcecdd);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
