.Home_Container {
  display: flex;
  flex-direction: column;
}

.Hero_Text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 2.2;
  transform: translate(-50%, -50%);
  font-size: 23px;
}

.Hero_Text_Gradient {
  background: linear-gradient(to right, #fcecdd, #ffc288, #fea82f, #ff6701);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Hero_Button {
  margin-top: 20px;
  background-color: transparent;
  color: white;
  padding: 10px;
  font-size: 21px;
  border: none;
}

.Hero_Button span:hover {
  background: linear-gradient(to right, #fcecdd, #ffc288, #fea82f, #ff6701);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Events_Banner {
  width: 90%;
  height: 700px;
  margin: 0 auto;
  padding: 50px 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Events_Carousel {
  height: 100%;
  width: 100%;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.Events_Carousel::-webkit-scrollbar {
  display: none;
}

.Carousel_Arrow {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 51px;
  overflow: hidden;
  z-index: 100;
}

.Carousel_Arrow:hover {
  color: var(--indicatorColor1);
}

.Event_Caption_Text {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  line-height: 1.75;
  text-align: center;
}

.Event_Number_Text {
  font-size: 21px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.Event_Title {
  font-size: 31px;
  color: white;
}

.Event_Title:hover {
  background: linear-gradient(to right, #fcecdd, #ffc288, #fea82f, #ff6701);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Top_Sales_Banner {
  padding: 25px 0;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Top_Sales {
  height: 100%;
}

.Subscribe_Btn{
  width: 100%;
  text-align: center;
  font-size: 19px;
}