.Detail_Container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.Item_Container {
  display: flex;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  background-color: lightcoral;
}

.Item_Described {
  width: 100%;
  min-width: 275px;
  height: 410px;
  margin-left: 20px;
  border: 1px solid black;
  background-color: white;
}

.Item_Img{
  width : 300px;
  height: 410px;
}

.Item_Contents {
  width: 100%;
  max-width: 1024px;
  height: 500px;
  margin: 0 auto;
  background-color: lightgray;
}

.Item_Submit {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.Item_Submit button {
  float: right;
  margin-left: 20px;
}

.Item_Reviews {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  background-color: lightgreen;
}
