.Profile_Container {
  font-size: 21px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 25px 50px;
  margin: 20px 0;
  gap: 30px;
}

.Profile_Edit_Link {
  text-align: right;
}

.Profile_Tags {
  margin: 25px 0;
}

.Profile_Type_Badges {
  color: black;
  font-weight: bold;
}

.Profile_Reviews {
  grid-column-start: 1;
  grid-column-end: 3;
}

.Profile_Reviews ul {
  display: flex;
}

.Profile_Reviews li {
  width: 100px;
  height: 30px;
  line-height: 30px;
  background-color: var(--dark3);
  border: 1px solid var(--lightgray);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}

.Profile_Reviews li:last-child {
  position: relative;
  right: 1px;
}

.Reviews_Contents {
  background-color: var(--dark3);
  border: 1px solid var(--lightgray);
  height: calc(100% - 30px);
}

.Order_History_Item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Order_Detail_Indicator {
  font-size: 17px;
  color: gray;
}
