.Edit_Page_Container {
  text-align: center;
}

.Edit_Page_Title {
  font-size: 25px;
  margin: 20px 0 30px 0;
}

.Member_Information_Wrapper {
  border: solid white 1px;
  height: 100%;
  width: 900px;
  font-size: 19px;
  margin: 0 auto;
}

.Info_Label {
  width: 40%;
}

.Info_Content {
  height: 80%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Find_PW {
  position: absolute;
  right: 1%;
}

.Info_Input {
  height: 50%;
  width: 50%;
  text-align: center;
  font-size: 17px;
  border: none;
  border-bottom: 1px solid rgba(249, 216, 170, 0.8);
}

.Member_Information_Addresses {
  background-color: var(--dark3);
  border-bottom: 1px solid white;
}

.Info_Title {
  background-color: rgb(105, 105, 105);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  font-weight: 450;
  height: 50px;
  border-bottom: solid white 1px;
}

.No_Addresses {
  margin: 15px 0;
  color: rgb(179, 179, 179);
}

.Addresses_Container {
  border: 1px solid white;
}

.Address_List_Item {
  height: 75px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Address_List_Address {
  width: 70%;
  font-size: 19px;
}

.Adrress_Primary {
  color: rgb(9, 138, 45);
}

.Address_Title {
  color: rgb(145, 189, 167);
}

.Address_List_Button {
  width: 30%;
}

.Recommend_Survey {
  padding: 20px 0;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Recommend_Survey p {
  font-size: 21px;
}

.My_Type_Wrapper {
  background-color: var(--dark3);
}

.Type_Dropdown {
  padding: 10px;
  width: 175px;
  font-size: 17px;
}

.Checkbox_Wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.Checkbox_Tag {
  margin-right: 2.5px;
}

.Edit_Button_Wrap {
  margin-top: 30px;
}

.Edit_Button {
  width: 120px;
  height: 30px;
}

.Subscribe_Edit_Container {
  border: solid white 1px;
  background-color: var(--dark3);
  margin-top: 30px;
  width: 900px;
  margin: 30px auto;
}

.Recommend_Subscription {
  padding-bottom: 20px;
}

.No_Subscription {
  color: rgb(238, 158, 73);
  margin: 25px 0;
  font-size: 23px;
}

.Subscription_Summary {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 125px;
  background-color: var(--dark3);
  border-bottom: 1px solid white;
}

.Subscription_Benefit {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.Subscription_Benefit div {
  font-size: 19px;
}

.Subscription_Benefit span {
  font-size: 15px;
}
