.Edit_Page_Container {
  text-align: center;
}

.Edit_Page_Title {
  font-size: 25px;
  margin: 20px 0 30px 0;
}

.Member_Information_Wrapper {
  border: solid white 1px;
  height: 100%;
  width: 900px;
  font-size: 19px;
  margin: 0 auto;
}

.Info_Label {
  width: 40%;
}

.Info_Content {
  height: 80%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Info_Input {
  height: 50%;
  width: 50%;
  text-align: center;
  font-size: 17px;
  border: none;
  border-bottom: 1px solid rgba(249, 216, 170, 0.8);
}

.Member_Information_Addresses {
  background-color: var(--dark3);
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}

.Info_Title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  font-weight: 450;
  height: 50px;
  border-bottom: solid white 1px;
}

.No_Addresses {
  margin: 15px 0;
  color: rgb(179, 179, 179);
}

.Addresses_Container {
  border: 1px solid white;
}

.Address_List_Item {
  height: 75px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.My_Type_Wrapper {
  background-color: var(--dark3);
}

.Type_Dropdown {
  padding: 10px;
  width: 175px;
  font-size: 17px;
}

.Checkbox_Wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.Checkbox_Tag {
  margin-right: 2.5px;
}

.Edit_Button_Wrap {
  margin-top: 30px;
}

.Edit_Button {
  width: 120px;
  height: 30px;
}

.Subscribe_Edit_Container {
  border: solid white 1px;
  background-color: var(--dark3);
  margin-top: 30px;
  width: 900px;
  margin: 30px auto;
  padding-bottom: 20px;
}

.No_Subscription {
  color: rgb(238, 158, 73);
  margin: 25px 0;
  font-size: 23px;
}

.Address_Contents {
  display: flex;
}

.Address_Contents > div {
  display: flex;
  justify-content: flex-end;
}

.Address_Modal {
  width: 600px;
  padding: 0 5px;
  text-align: center;
}

.Address_Header {
  text-align: center;
  padding: 10px 0;
}

.Modal_Field {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 19px;
}

.Modal_Field label {
  width: 100px;
}

.Form_Input {
  height: 40px;
  border-radius: 0px;
  background-color: white;
  color: black;
  font-size: 17px;
}

.Address_Zipcode {
  width: 25%;
  text-align: center;
}

.Address_Search_Bar {
  width: 65%;
  text-align: center;
}

.Address_Type_Field {
  width: 85%;
}

.Submit_Button {
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 17px;
  width: 100px;
}

.Modal_Form_Buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 19px;
}

.Modal_Form_Buttons input[type="checkbox"] {
  margin-right: 5px;
}
