.Profile_Container {
  font-size: 21px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 25px 50px;
  margin: 20px 0;
  gap: 30px;
}

.Profile_Edit_Link {
  text-align: right;
}

.Member_Subscribed {
  background: linear-gradient(to right, #fcecdd, #ffc288, #fea82f, #ff6701);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Member_Not_Subscribed {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(242, 137, 32);
}

.Profile_Tags {
  margin-bottom: 25px;
}

.Profile_Type_Badges {
  color: black;
  font-weight: bold;
}

.No_Tags {
  color: white;
}

.Profile_Reviews {
  grid-column-start: 1;
  grid-column-end: 3;
}

.Profile_Reviews ul {
  display: flex;
}

.Profile_Reviews li {
  width: 100px;
  height: 30px;
  line-height: 30px;
  background-color: var(--dark3);
  border: 1px solid var(--lightgray);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}

.Profile_Reviews li:last-child {
  position: relative;
  right: 1px;
}

.Reviews_Contents {
  background-color: var(--dark3);
  border: 1px solid var(--lightgray);
  height: calc(100% - 30px);
}

.Order_History_Item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: solid 2.5px rgba(155, 155, 155, 0.5);
  padding: 10px 0;
}

.Order_History_Content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: dimgrey;
  border-bottom: solid 1px rgba(255, 255, 255, 0.4);
}

.Order_Detail_Indicator {
  font-size: 17px;
  color: wheat;
}

.Order_Detail_Button_Wrapper {
  margin-top: 10px;
}
