.Edit_Page_Container {
  padding: 20px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Edit_Page_Title {
  margin: 20px 0 30px 0;
}

.Member_Infomation_Contents {
  height: 100%;
  width: 700px;
  font-size: 19px;
}

.Info_Wrapper {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

.Info_Title {
  width: 17.5%;
  margin-left: 200px;
}

.Info_Content {
  width: 40%;
}

.Edit_Type_Container {
  display: flex;
  height: 50px;
}

.Edit_Button_Wrap {
  margin-top: 30px;
}

.Edit_Button {
  width: 120px;
  height: 30px;
}

.Subscribe_Edit_Container {
  margin-top: 30px;
  width: 700px;
  height: 100%;
}

.Subscribe_Start_Date {
  display: flex;
  height: 70px;
}

.Subscribe_Benefits_Container {
  display: flex;
}

.Address_Contents {
  display: flex;
}

.Address_Contents > div {
  display: flex;
  justify-content: flex-end;
}
