.Reset_Pw_Wrapper {
  text-align: center;
}
.Reset_Pw_Intro {
  font-size: 25px;
  font-weight: 600;
  margin: 25px 0;
}

.Reset_Pw_Form {
  text-align: center;
  margin: 25px auto 10px auto;
  width: 50%;
  font-size: 17px;
  background-color: var(--dark3);
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.Input_Content {
  height: 50%;
  width: 50%;
  text-align: center;
  font-size: 17px;
  border: none;
  border-bottom: 1px solid rgba(249, 216, 170, 0.8);
}

.Confirm_Button_Wrapper {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
