.Shopping_List_Search{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%
}

.Search_Bar {
  width: calc(100% - 50px);
  height: 50px;
  font-size: 23px;
  padding-left: 20px;
  text-align: center;
}

.Product_List_Container{
  display: flex;
  justify-content: center;
}

.Product_List{
  width: calc(100% - 50px);
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.Tab_Container{
  display: flex;
  justify-content: center;
}

.Tab_List{
  margin-top: 10px;
  display: flex;
  width: calc(100% - 50px);
  justify-content: space-between;
}