.Member_Benefits_Info {
  width: 100%;
  height: 100%;
}

.Benefits_Container {
  width: 100%;
  height: 100px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
  border: 1px solid black;
}

.Member_Benefits_Info {
  margin-bottom: 30px;
}

.Cart_List_Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 73vh;
  background-color: white;
  border: 1px solid black;
}

.All_Check_Section {
  
  /* padding: 10px 10px; */
  width: 90%;
  background-color: var(--gray);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark3);
}

.All_Check {
  color: black;
  margin-left: 10px;
  font-size: 17px;
}

.Shopping_List_Contents {
  display: flex;
  height: 80px;
  border-bottom: 1px solid black;
}

.Product_Check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  background-color: var(--gray);
  height: 100%;
  border-right: 1px solid black;
}

.Product_Container {
  /* padding: 10px 10px; */
  width: 90%;
  background-color: var(--gray);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Product_Delete {
  width: 10%;
  background-color: var(--gray);
  height: 100%;
  border-left: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.List_Product_Image {
  width: 50px;
  height: 50px;
  background-color: black;
}

.Product_Count {
  font-size: 17px;
  color: black;
  margin-right: 10px;
}

.Product_Price {
  font-size: 17px;
  color: black;
}

.Cart_Delete_Button {
  background-color: none;
}

.Price_Info_Container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  height: 50px;
  width: 100%;
  background-color: white;
  border: 1px solid black;
}

.Price_Info_Container > span {
  font-size: 17px;
  color: black;
  margin-right: 10px;
}

.Cart_Payment_Button {
  width: 83.625px;
  height: 100%;
  border-left: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Cart_Item_Id {
  border-right: 1px solid black;
  height: 100%;
  width: 99px;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  display: flex;
}

.Cart_Product_Info {
  display: flex;
  align-items: center;
  width: 716.344px;
  flex-wrap: wrap;
  justify-content: center;
}

.Count_Price_Container {
  display: flex;
  align-items: center;
  height: 100%;
  border-left: 1px solid black;
  width: 231.266px
}
.List_Category_Container{
  display: flex;
}
.Cart_Product_Count {
  border-right: 1px solid black;
  height: 100%;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Cart_Product_Price {
  display: flex;
  justify-content: center;
  width: 63%;
}

.Cart_Product_Delete {
  width: 10%;
  background-color: var(--gray);
  height: 100%;
  border-left: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Shopping_List_Container{
  display: flex;
  flex-direction: column;
}