.Member_Benefits_Info {
  width: 100%;
  height: 100%;
}

.Benefits_Container {
  width: 100%;
  height: 100px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
  border: 1px solid black;
}

.Member_Benefits_Info {
  margin-bottom: 30px;
}

.Cart_List_Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60vh;
  background-color: white;
}

.All_Check_Section {
  align-items: center;
  width: 100%;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.All_Check {
  color: black;
  margin-left: 10px;
  font-size: 17px;
}

.Shopping_List_Container{
  display: flex;
  flex-direction: column;
}

.Shopping_List_Contents{
  display: flex;
  height: 70px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.Product_Check{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  background-color: pink;
  height: 100%;
  border-right: 1px solid black;
}

.Product_Container{
  padding: 10px 10px;
  width: 90%;
  background-color: pink;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Product_Info{
  display: flex;
  align-items: center;
}

.Product_Delete{
  width: 10%;
  background-color: pink;
  height: 100%;
  border-left: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.List_Product_Image{
width: 50px;
height: 50px;
background-color: black;
}

.List_Product_Name{
  font-size: 17px;
  margin-left: 10px;
}

.Product_Count{
  font-size: 17px;
  color: black;
  margin-right: 10px;
}

.Product_Price{
  font-size: 17px;
  color: black;
}

.Cart_Delete_Button{
  background-color: none
}