.Test_Page_Container {
  height: 100vh;
  padding-top: 10px;
}

.Test_Question_Title {
  display: flex;
  align-items: center;
}

.Skin_Test_ContentBox {
  margin-top: 30px;
  background-color: var(--lightgray);
  height: 70vh;
  padding-top: 10px;
}

.Type_Test_Content {
  display: flex;
}

.Test_Type_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.Type_Tag_Btn {
  gap: 60px;
  margin: 10px;
}

.Submit_Section {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.Test_Result {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  height: 40vh;
  background-color: var(--gray);
  justify-content: center;
}

.btn_active {
  background-color: pink;
}

.Navigate_Shopping_List {
  color: pink !important;
}
