.Subscription_Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.Subscription_Banner {
  width: 100%;
  height: 500px;
}

.Subscription_Benefit_Info {
  margin-top: 20px;
  width: 80%;
  background-color: var(--dark2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  border-radius: 10px;
}

.Sample_Benefit_Info {
  width: 72%;
  display: flex;
  flex-wrap: wrap;
}

.Sample_Benefit_Info > span {
  font-size: 19px;
  font-weight: bold;
  margin-top: 20px;
}

.Benefit_Info_Contents {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Subscription_Text{
  width: 80%;
  padding: 10px;
  text-align: center;
  font-size: 19px;
  margin: 20px 0;
  border-radius: 10px;
  background-color: var(--dark2);
}

.Subscrip_Payment_Section {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: var(--dark2);
  border-radius: 10px;
  padding: 10px;
}

.Payment_Container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.Payment_Container img {
  border-radius: 20px;
}

.Payment_History {
  font-size: 19px;
}

.Payment_History li {
  width: 200px;
  padding-bottom: 19px;
}

.Final_Summary {
  display: flex;
  justify-content: space-evenly;
  height: 200px;
}

.Pay_Button {
  padding: 10px;
}