.Address_Modal {
  width: 600px;
  padding: 0 5px;
  text-align: center;
}

.Address_Header {
  text-align: center;
  padding: 10px 0;
}

.Modal_Field {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 19px;
}

.Modal_Field label {
  width: 100px;
}

.Form_Input {
  height: 40px;
  border-radius: 0px;
  background-color: white;
  color: black;
  font-size: 17px;
}

.Address_Zipcode {
  width: 25%;
  text-align: center;
}

.Address_Search_Bar {
  width: 65%;
  text-align: center;
}

.Address_Type_Field {
  width: 85%;
}

.Submit_Button {
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 17px;
  width: 100px;
}

.Modal_Form_Buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 19px;
}

.Modal_Form_Buttons input[type="checkbox"] {
  margin-right: 5px;
}
