.Footer_Inside{
 display: flex;   
}

.Footer_Title{
  font-size: 19px;
  margin-bottom: 5px;
}

.Footer_Members{
  display: flex;
}

.Footer_Members li{
  height: 25px;
  font-size: 15px;
}

.Member_Name li{
  width: 100px;
  text-align: center;
}

.Member_GitHub li{
  width: 250px;
}

.Footer_Position{
  color: yellow;
}

.Project_Outline{
  padding: 0 23px;
}

@media (max-width:767px){
  .Footer_Inside{
    flex-direction: column;
   }
   .Project_Outline{
    margin-bottom: 30px;
   }
}
