.Header_Nav {
  width: 100%;
  height: 100px;
  background-color: var(--dark3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.Nav_Menu {
  position: relative;
}

.Nav_Btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
  cursor: pointer;
}

.Nav_Btn input {
  display: none;
}

.Nav_Btn input:checked ~ span:nth-child(2) {
  transform: translate(0px, 13px) rotate(45deg);
}

.Nav_Btn input:checked ~ span:nth-child(3) {
  opacity: 0;
}

.Nav_Btn input:checked ~ span:nth-child(4) {
  transform: translate(0px, -13px) rotate(-45deg);
}

.Nav_Btn span {
  display: block;
  background-color: white;
  border: none;
  height: 4px;
  width: 100%;
  border-radius: 5px;
  opacity: 1;
  transition: 0.5s;
}

.Nav_List {
  position: absolute;
  width: 200px;
  height: 300px;
  background-color: var(--dark2);
  left: -40px;
  top: 65px;
  text-align: center;
  font-size: 20px;
  z-index: 10;
}

.Nav_List li {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  font-size: 23px;
}

.Nav_Line {
  width: 80%;
  height: 2px;
  border-radius: 4px;
  background-color: lightblue;
}

.Header_Logo {
  font-size: 35px;
  text-align: center;
  /* 해당 폰트체는 이후 디자인 과정에서 대치될 예정입니다. */
  font-family: cursive;
}

.Nav_Dropdown button {
  height: 100px;
}

.Nav_Dropdown_Button {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 20px;
}

.Nav_Dropdown_Button:hover,
.Nav_Dropdown_Content a:hover {
  color: gold;
}

.Nav_Dropdown_Content {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgba(54, 57, 63, 0.7);
  min-width: 300px;
  left: 275px;
  text-align: center;
  z-index: 1;
}

.Nav_Dropdown_Content a {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.Nav_Dropdown_Content a:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.Nav_Dropdown_Box {
  width: 100%;
}

.Header_Icons {
  display: flex;
  width: 130px;
  text-align: center;
}

.Header_Icon {
  cursor: pointer;
  position: relative;
  width: 25px;
  height: 27.63px;
  margin: 0 10px;
  z-index: 100;
}
