.Profile_History_Item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: solid 2.5px rgba(155, 155, 155, 0.5);
  padding: 10px 0;
}

.Profile_History_Content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: dimgrey;
  border-bottom: solid 1px rgba(255, 255, 255, 0.4);
  height: 200px;
}

.History_Image_Container,
.History_Review_Button {
  width: 20%;
}

.History_Product_Name {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.History_Product_Title:hover {
  color: var(--hoverColor2);
}

.History_Image_Container img {
  width: 175px;
}

.History_Product_Info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
}

.Review_Item_Title {
  margin-top: 10px;
}

.History_Product_Info img {
  margin-top: 10px;
}

.History_Detail_Indicator {
  font-size: 21px;
  color: var(--indicatorColor2);
  margin-bottom: 10px;
}

.History_Rating_Wrapper {
  width: 100px;
  height: 25px;
}

.Order_Detail_Button_Wrapper {
  margin-top: 10px;
}

.Review_Link:hover {
  cursor: pointer;
  color: var(--indicatorColor1);
}

.Review_Done {
  width: 20%;
  color: var(--indicatorColor3);
}
