.ReviewInfo_Container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

h2{
  margin-bottom: 10px;
}

.Review_BtnBox{
  display: flex;
  gap: 20px;
}

.Review_BtnBox button{
  width: 100%;
}

.Review_Item_Info{
  display: flex;
  gap: 20px;
}

.Review_Item_Info img{
  width: 100px;
}

.Review_Item_Info li{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark2);
  line-height: 30px;
  padding: 5px 0;
  height: 50px;
}

.Review_Item_Info li:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid var(--lightgray);
}

.Review_Item_Info li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.Review_Item_Tag{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 100%;
}

.Review_Item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}