.Product_Price_Info{
  display: flex;
  align-items: center;
  height: 100%;
  border-left: 1px solid black;
  padding-left: 10px;
  width: 258px;
}

.Product_Price{
  margin-right: 10px;
}

.Count_Change{
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  cursor: pointer;
  width: 17px;
}

.Empty_Cart{
  color: black;
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-top: 20px;
}

.Product_Profil{
  display: flex;
  align-items: center;
  width: 716.344px;
  flex-wrap: wrap;
}

.List_Product_Name{
  font-size: 17px;
  margin-left: 10px;
}

.Cart_Number{
  border-right: 1px solid black;
  height: 100%;
  width: 99px;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  display: flex;
}

.Product_Count_Container{
  border-right: 1px solid black;
  margin-right: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  width: 81px;
}

.Product_Price_Container{
  width: 129px;
}

.Product_Delete{
  width: 139.9px
}